{% extends 'ConciergerieBundle:Prestataire:index.html.twig' %}

{% block body %}

  <section class="container">

    <h3>Faites livrer vos courses à domicile !</h3>

    <img class="img-responsive" src="{{ asset('images/livraisonservice.jpg') }}" alt="">

    <p>
      Un imprévu ce soir, vous devez rester plus longtemps que prévu au travail ? <b>Faites confiance à nos prestataires</b> et confiez leur la <b>livraison de vos courses à domicile</b> ! 
      <br>
      Pour un <b>tarif moyen de 10€</b> vous trouverez en quelques clics des <b>prestataires fiables</b> disponibles <b>dans votre ville.</b> Passez simplement commande puis fixez les modalités avec le prestataire. <b>Celui-ci s'engage à vous répondre dans les 24h !</b>
    </p>

  </section>

{% endblock %}
