<!DOCTYPE html>
<html>
  <head>
    <title>A bientôt sur ma deuxieme page !</title>
  </head>
  <body>
    <h1>Goodbye {{prenom ~" "~ nom}} !</h1>

    <p>
      A bientôt !
    </p>
  </body>
</html>
