<!DOCTYPE html>
<html>
  <head>
    <title>Bienvenue sur ma première page !</title>
  </head>
  <body>
    <h1>Bienvenue !!!</h1>

    <p>
      Jetez un oeil au reste du site
    </p>
  </body>
</html>
